.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;

  &__left {
    width: calc(100% - 320px);
  }

  &__right {
    width: 320px;
    display: flex;
    justify-content: center;
  }

  &__ad {
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
}
