.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 450px;
  background-color: white;
  z-index: 1;

  &__rating {
    display: flex;
  }

  & > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }

  & > button {
    width: 120px;
    height: 25px;
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;

    &:hover {
      background-color: #f5d176;
    }
  }

  &__price {
    margin-top: 5px;
  }

  &__info {
    height: 100px;
    margin-bottom: 15px;
  }
}
