.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;

  &__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }

  &__search {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  &__searchInput {
    height: 35px;
    padding: 10px;
    border: none;
    width: 80%;
    border-radius: 5px 0 0 5px;

    &:focus {
      outline: none;
      border: 2px solid rgb(254, 189, 105);
    }
  }

  &__searchIcon {
    padding: 5px;
    height: 35px !important;
    width: 40px !important;
    background-color: rgb(254, 189, 105);
    border-radius: 0 5px 5px 0;

    &:hover {
      background-color: rgb(243, 168, 71);
    }
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
  }

  &__option {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
  }

  &__optionLineOne {
    font-size: 10px;
  }

  &__optionLineTwo {
    font-size: 13px;
    font-weight: 800;

    &:hover {
      color: rgb(254, 189, 105);
    }
  }

  &__optionBasket {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    color: white;

    &:hover {
      color: rgb(254, 189, 105);
    }
  }

  &__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
}
